/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Permanent+Marker&family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Permanent+Marker&family=Source+Code+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Permanent+Marker&family=Roboto:wght@100&family=Source+Code+Pro:wght@200&display=swap');
/* Global Styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}